.now-entry {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.now-entry > time {
  color: var(--fg-faint);
}

#now-archive-link {
  display: block;
  text-align: right;
  padding-top: 2.5em;
  color: var(--fg-faint);
}
