<p>
  Site textual content &copy; 2022&ndash;{{ now.Year}} <a href="{{ .Site.BaseURL }}">Diogo Correia</a><br>
  except where otherwise noted and/or quoting external sources.
  For other site-wide disclaimers/credits, see the <a href="{{ printf "%s/colophon" .Site.BaseURL }}">Colophon</a>.
</p>

<nav>
  <!-- RSS -->
  <a title="RSS Feed" href="{{ .Site.BaseURL }}/index.xml">RSS{{ partial "icons/rss" . }}</a>

  <!-- Footer menus -->
  {{ range .Site.Menus.footer }}
  · <a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{ end }}

  <!-- Social & Contact -->
  · <a href="https://github.com/dvcorreia">Github {{ partial "icons/github" . }}</a>
  · <a href="https://www.linkedin.com/in/diogovalacorreia/">Linkedin {{ partial "icons/linkedin" . }}</a>
  · <a href="mailto:dv_correia@hotmail.com">Email {{ partial "icons/email" . }}</a>
  · <a href="github.com/dvcorreia/cv/releases/latest/download/diogo-correia-cv.pdf">CV</a>
</nav>
