<h1 id="website-title">
  <a href="{{ .Site.BaseURL }}">
  <pre>
     _____                       ___
    /  /::\         ___         /  /\
   /  /:/\:\       /__/\       /  /:/
  /  /:/  \:\      \  \:\     /  /:/
 /__/:/ \__\:|      \  \:\   /  /:/  ___
 \  \:\ /  /:/  ___  \__\:\ /__/:/  /  /\
  \  \:\  /:/  /__/\ |  |:| \  \:\ /  /:/
   \  \:\/:/   \  \:\|  |:|  \  \:\  /:/
    \  \::/     \  \:\__|:|   \  \:\/:/
     \__\/       \__\::::/     \  \::/
                     ~~~~       \__\/
  </pre>
  </a>
</h1>
<nav>
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  <a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{ end }}
</nav>
